NODE_ENV=development
PORT=5011

MONGODB_URI=mongodb://127.0.0.1:27017
JWT_SECRET=replace-me-with-a-strong-secret-at-least-16-characters
CLIENT_URL=http://localhost:5173

MAILTRAP_ENDPOINT=https://send.api.mailtrap.io/
MAILTRAP_TOKEN=

PING_URL=https://example.com
